<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
{% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>

<style>

    * {
        font-family: 'Gotham', sans-serif;
    }

    :root {
        --primary: #034063;
        --secondary: #CCCCCC;
        --tertiary: #E4E4E4;
        --white: #FFFFFF;
        --black: #000000;

        --primary-hover: #034099;
    }